.quiz_block {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 15px;
}

@media screen and (max-width:300px) {
    .quiz_block {
        margin-left: 0;
    }
}

.quiz_container {
    width: 70%;
    margin-left: 15%;
}

.quizzzzz {
    border: 2px solid #ff004c;
    font-size: 20px;
    color: #ff004c;
    padding: 9px 20px;
    border-radius: 30px;
}

.quizzzzz:hover {
    outline: none;
    background: #ff2f2f;
    color: #fff;
}

.answer_questions {
    transition: all 400ms easy;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #dedcdd;
    padding: 10px;
}

.answer_questions li {
    font-size: 20px;
    margin-bottom: 3px;
}

.lidone {
    background: #337ab7 !important;
}

.answers:hover {
    color: #fff;
    background-color: #337ab7;
}

.answers {
    background: white;
    width: 100%;
    text-align: left;
    border: 0;
}

.pageing {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    background-image: url(../images/bg_pagination.jpg);
    gap: 8px;
    padding: 4px;
}

.pageing li {
    position: relative;
    float: left;
    border-bottom-width: 0 !important;
    margin: 0 10px -1px 0;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #cbccce;
    border-radius: 36px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    box-shadow: 1px 2px 0 #7d9096;
}

.pageing a {
    text-decoration: none;
    padding: 2px 0px;
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
}

.pageing .active {
    background: #14a1cc !important;
}

.heading {
    color: #fe1938;
    font-size: 30px;
}

.done {
    background: #337ab7 !important;
}

.points ul {
    list-style-type: disc;
    margin: 0 0 30px 20px;
    font-size: 14px;
    color: darkgray;
}

.err {
    align-items: baseline;
    text-align: center;
}

.erase {
    padding: 0;
    margin: 0 0 10px;
    font-size: 17px;
    text-align: center;
    align-items: baseline;
    border: 0 transparent;
    background: transparent;
}

.checkbox_cont {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 5px;
}